<!DOCTYPE html>
<html>
    <h1> submit your new article here!</h1>
    <form action="/articles" method="POST">
   <h2> Put your title here: <input type="text" name="title"></h2>
   <h2>Put your content here: <input type="text" name="content"></h2> 
   <input type= "submit" id="submit">
    </form>




</html>